<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <title>Pact POC - UUID Generation</title>
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/1.16.1-lts/dist/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
  <div th:replace="navigation"></div>
  <br/>
  <div class="container-fluid">
        <div class="container-fluid">
            <div class="row alert alert-info" role="alert">
                Request a random UUID v4 string below.
            </div>
        </div><br>
        <div class="d-flex flex-row">
            <div class="">
                <form th:action="@{/uuid/generate}">
                    <button type="submit" class="btn btn-primary">Generate</button>
                </form>
            </div>
            <div class="">
                <div class="container ml-3">
                    <h3 th:text="${uuid}"></h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
